@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-VariableFont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.time {
    height: 28px;
    width: 200px;
    z-index: 1;
    margin-left: 10px;
    margin-top: 3px;
}

.texts {
    color: #fff;
    height: 100px;
    width: 200px;
    border: none;
    background-color: #ffffff00;
}


/* Utility classes*/
.bottomed {
    position: absolute;
    bottom: 0;
}
.roboto {
    font-family: "Roboto";
}
.poppins {
    font-family: "Poppins";
}
.above {
    z-index: 99;
}
.font-minor {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.font-major {
    font-size: 5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.white {
    color: white;
} 
.black {
    color: rgb(0, 0, 0);
} 